[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wtforms = "*"
email-validator = "*"
aenum = "*"
jinja2 = "*"
addict = "*"
cachetools = "*"
rpyc = "*"
function-pipes = "*"
selenium = "*"
bs4 = "*"
ofjustpy-engine = "==1.1.3"

[dev-packages]

[requires]
python_version = "3.11"
